<!DOCTYPE html>
<html>
  <head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>Bonjour,</p>
    <br>
    <h2>Un nouvel achat a été effectué par le client <%=@user.email %>, le <%= @order.created_at.strftime("%d/%m/%Y à %k:%M") %>  sur le site de la boutique Bamby-boutique! </h2>
    <br>
    <p>Numéro de commande: <%= @order.id %></p>
    <p>Articles commandés :
    <center>
    <ul> <%= @order.order_items.each do |order_item| %>
    <li> <% order_item.item.title %>
    </li><%end%>
    </ul>
    </p>
    <br>
    <h2>Veuillez effetuer l'expédition rapidement!</h2></center>
    <br>
    <p>Merci !</p>
    <br>
    <br>
L'Administrateur,
  </body>
</html>