<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Bonjour <%= @user.email %>,</p>
    <br>
    <p>Vous avez effectué un achat le <%= @order.created_at.strftime("%d/%m/%Y à %k:%M") %> sur notre site et nous vous remercions pour votre confiance.</p>
    <br>
    <p>Numéro de commande: <%= @order.order_reference %></p>
    <p>Articles commandés :
    <ul> <% @order.order_items.each do |order_item| %>
    <li> <%= order_item.item.title %></li>
    <%end%>
    </ul>
    <br>

    <p>Pour consulter toutes vos commandes, vous pouvez accéder à votre espace client <a href= 'https://bamby-boutique.herokuapp.com/devise/sign_in'>en cliquant ici</a>.
    </p>
    <br>
    <p>Merci !</p>
    <br>
    <p> À très vite sur <a href='https://bamby-boutique.herokuapp.com/'> Bambyboutique!</a></p>
    <br>
    <br>
    L'équipe de Bamby-boutique,
    </body>
</html>