<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.email %> , et bienvenue chez nous !</h1>
    <p>
      Vous vous êtes inscrit(e) à Bambyboutique en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à votre espace client, <a href= 'https://bamby-boutique-development.herokuapp.com/devise/sign_in'> en cliquez ici. </a>.
    </p>
    <p> À très vite sur <a href='https://bamby-boutique-development.herokuapp.com/'> Bambyboutique</a>!<br />
 <br>
 L'équipe de Bambyboutique',
</body>
</html>
