<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.email %>, et bienvenue chez nous!</h1>
    <p>
      Vous vous êtes inscrit(e) aujourd'hui à Bambyboutique en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à votre espace client merci de<a href= 'https://bamby-boutique-development.herokuapp.com/devise/sign_in'> cliquer ici </a>.
    </p>
    <p> À très vite sur <a href='https://bamby-boutique-development.herokuapp.com/'> Bamby-boutique</a>!<br />
 <br>
 L'équipe de Bamby-boutique,
</body>
</html>
