#<p>Hello <%= @email %>!</p>
<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  
  <p>Nous vous contactons pour vous informer que votre email es en cours de mise à jour <%= @resource.unconfirmed_email %>.</p>
<% else %>

  <p>Nous vous contactons pour vous informer que votre email a été changé à <%= @resource.email %>.</p>
<% end %>
