<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

<h1>Bonjour <%= @resource.email %>!</p>

<p>Vous êtes contacté pour vous informer que votre mot de passe a été changé.</p>  
<br>
    Pour accéder à ton espace client, connecte-toi : <a href= 'https://bamby-boutique-development.herokuapp.com/devise/sign_in'> ICI </a>.
    <br>
<p> À très vite sur <a href='https://bamby-boutique-development.herokuapp.com/'> Bambyboutique</a>!<br />
 <br>L'équipe de Bambyboutique',
  </body>
</html>