<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
<p>Bonjour <%= @resource.email %>,</p>

<p>Un lien pour modifier votre mot de passe à été solicité depuis notre site. Vous pouvez l'effectuer par le lien ci-dessous: </p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p> Nous vous invitons à le modifier rapidement.<p>
<br>
<p>Si vous n'avez pas fait cette demande, merci d'ignorer ce courriel.</p>
<br>
<p>Votre mot de passe ne changera pas si vous ne suivez pas le lien et en-créez un nouveau.</p>
<br>
  <p>À très vite sur <a href='https://bamby-boutique.herokuapp.com/'> Bamby-boutique!</a><br />
  <br>
  L'équipe de Bambyboutique,
  </body>
</html>